@import "tailwindcss";

/* Empêche le rebond élastique sur mobile */
html, body {
  overscroll-behavior: none;
}

/* Empêche de sélectionner le texte du terrain par erreur */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
